.movie-item {
    padding: 20px;
    background-color: #ddd;
    display: flex;
    border-radius: 3px;
}

.movie-item__poster {
    width: 101px !important;
    height: 150px;
    margin-right: 21px;
    transition: transform .5s;
}


.movie-item__title {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 14px;
}

.movie-item__add-button {
    border: none;
    border-radius: 3px;
    background-color: #496DDB;
    padding: 10px 15px;
    margin: 50px 0 0 180px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
    width: 170px;
}

.movie-item__add-button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
}
@media (min-width: 320px) and (max-width: 1073px) {
    .movie-item {
      text-align: center;
      margin: auto;
      padding: 20px;
      background-color: #ddd;
      flex-direction: column;
      display: flex;
    }
  
    .movie-item__poster {
      margin: auto;
      height: 150px;
    }
  
    .movie-item__title {
      text-align: center;
      font-weight: 500;
      margin-top: 10px;
      font-size: 16px;
      margin-bottom: 14px;
    }
  
    .movie-item__add-button {
      border: none;
      background-color: #496ddb;
      padding: 8px 12px;
      color: #ffeedb;
      font-size: 14px;
      transition: all 0.2s linear;
      margin:auto;
    }
  
    .movie-item__add-button:hover {
      cursor: pointer;
      opacity: 0.9;
      transition: all 0.2s linear;
    }
  }
  
  @media screen and (max-width:386px) and (min-width:320px){
        .movie-item__add-button{
            position: relative;
            right: 34%;
        }
}